html,body{
	width: 100%;
}

.title-hr{
	margin: 8px;
}

.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.tables-container{
	max-height: 500px;
	overflow-y: scroll;
}

.payment-icon{
	width: 100px;
	height: 40px;
}